workflows/employee-termination-workflow-import.json
{
  "name": "Employee Termination Automation",
  "nodes": [
    {
      "parameters": {
        "path": "terminate-employee",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d7b83f1f-8e21-4c3d-9b4a-1a2b3c4d5e6f",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "terminate-employee"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst required = ['employeeId', 'supervisorEmail'];\nconst missing = [];\n\nfor (const field of required) {\n  if (!$input.first().json[field]) {\n    missing.push(field);\n  }\n}\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Extract and prepare data\nconst data = {\n  employeeId: $input.first().json.employeeId,\n  employeeEmail: $input.first().json.employeeEmail || '',\n  supervisorEmail: $input.first().json.supervisorEmail,\n  reason: $input.first().json.reason || 'Termination',\n  ticketNumber: $input.first().json.ticketNumber || '',\n  timestamp: new Date().toISOString()\n};\n\nreturn [data];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Validate Input & Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "powershell.exe",
        "arguments": "-File C:\\Scripts\\Terminate-Employee.ps1 -EmployeeId {{ $json.employeeId }} -SupervisorEmail {{ $json.supervisorEmail }} -Reason \"{{ $json.reason }}\" -TicketNumber \"{{ $json.ticketNumber }}\"",
        "options": {}
      },
      "id": "b2c3d4e5-f678-90ab-cdef-123456789012",
      "name": "Execute Termination Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [650, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse PowerShell output\nconst output = $input.first().json;\nlet result = {\n  success: false,\n  message: '',\n  details: {}\n};\n\ntry {\n  // Check if output contains success indicators\n  if (output.stdout && output.stdout.includes('SUCCESS')) {\n    result.success = true;\n    result.message = 'Employee termination completed successfully';\n    \n    // Parse any JSON output from PowerShell\n    const jsonMatch = output.stdout.match(/{[^}]+}/);\n    if (jsonMatch) {\n      result.details = JSON.parse(jsonMatch[0]);\n    }\n  } else {\n    result.message = 'Termination script executed but may have encountered issues';\n    result.details = {\n      stdout: output.stdout,\n      stderr: output.stderr\n    };\n  }\n} catch (error) {\n  result.message = 'Error parsing termination script output';\n  result.error = error.message;\n}\n\nreturn [result];"
      },
      "id": "c3d4e5f6-7890-abcd-ef12-345678901234",
      "name": "Parse Termination Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d4e5f678-90ab-cdef-1234-567890123456",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({error: true, message: $json.message || 'An error occurred during termination', details: $json}) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "e5f67890-abcd-ef12-3456-789012345678",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input & Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input & Prepare Data": {
      "main": [
        [
          {
            "node": "Execute Termination Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Termination Script": {
      "main": [
        [
          {
            "node": "Parse Termination Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Termination Results": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T18:00:00.000Z",
  "versionId": "1"
}